[phases.setup]
nixPkgs = ["nodejs_22-22.12.0", "npm-10_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx http-server dist/me-destrozo-profe --port $PORT --silent"
